---
import '/src/styles/global.css'

const { title = "LeapX", children } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
	<script src="https://cdn.tailwindcss.com"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- Tailwind CSS should already be integrated -->
  </head>
  <body class="bg-gray-50 text-gray-800">
    <slot/>
    <main class="max-w-screen-xl mx-auto p-4">
      {children}
    </main>
  </body>
</html>
